<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- <p th:text="'Hello, ' + ${profile.getFirstName()} + '!'" />
	<p th:if="${profile.getGender() == T(j2017.model.GenderEnum).MAN}">Nice to see you</p>
	<p th:if="${profile.getGender() == T(j2017.model.GenderEnum).WOMAN}">Nice hair</p>
	<p th:unless="${profile.getGender() == T(j2017.model.GenderEnum).MAN or 
	profile.getGender() == T(j2017.model.GenderEnum).WOMAN}">Who are you?</p>
	<p>Comments:</p>
	<p th:text=" ${profile.getComments()}"/>
	<ul th:each="item : ${profile.getComments()}">
       <li th:text="${item.getTitle()}">Title description here...</li>
       <li th:text="${item.getContent()}">Content description here...</li>
    </ul> -->
    <ul th:each="item : ${comments}">
       <li th:text="${item.getTitle()}">Title description here...</li>
       <li th:text="${item.getContent()}">Content description here...</li>
    </ul>
</body>
</html>